@model ControlGastosWeb.Models.TipoGasto

@{
    ViewData["Title"] = "Eliminar Tipo de Gasto";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>

        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <strong>¿Está seguro que desea eliminar este tipo de gasto?</strong>
        </div>

        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Codigo)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Codigo)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaCreacion)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCreacion)</dd>
                </dl>
            </div>

            <div class="card-footer">
                <form asp-action="Delete" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Confirmar Eliminación
                    </button>
                </form>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Cancelar
                </a>
            </div>
        </div>
    </div>
</div>